In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Description
0,0,Coquimbo,CL,-29.9533,-71.3436,62.33,72,0,13.80,clear sky
1,1,Dickinson,US,29.4608,-95.0513,89.13,50,0,11.50,clear sky
2,2,Naze,JP,28.3667,129.4833,72.52,85,95,2.64,overcast clouds
3,3,Porvoo,FI,60.3923,25.6651,48.24,95,7,8.10,clear sky
4,4,Oktyabrskiy,RU,54.4815,53.4710,49.59,67,100,5.46,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [4]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [5]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
prompt_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
prompt_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,City Description
0,0,Coquimbo,CL,-29.9533,-71.3436,62.33,72,0,13.80,clear sky
1,1,Dickinson,US,29.4608,-95.0513,89.13,50,0,11.50,clear sky
2,2,Naze,JP,28.3667,129.4833,72.52,85,95,2.64,overcast clouds
5,5,Cidreira,BR,-30.1811,-50.2056,64.78,77,33,10.58,scattered clouds
6,6,Hithadhoo,MV,-0.6000,73.0833,81.01,74,30,13.80,scattered clouds
9,9,Port Blair,IN,11.6667,92.7500,80.64,83,40,2.30,mist
10,10,Sabang,ID,5.8933,95.3214,80.53,76,100,5.75,overcast clouds
11,11,Viransehir,TR,37.2353,39.7631,66.43,58,1,5.28,clear sky
12,12,Caxito,AO,-8.5785,13.6643,75.70,84,62,3.47,broken clouds
13,13,Avarua,CK,-21.2078,-159.7750,77.05,69,75,17.27,broken clouds

In [6]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
prompt_cities_df.count()

City_ID             411
City                411
Country             409
Lat                 411
Lng                 411
Max Temp            411
Humidity            411
Cloudiness          411
Wind Speed          411
City Description    411
dtype: int64

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
clean_prompt_cities_df = prompt_cities_df.dropna()
clean_prompt_cities_df.count()

City_ID             409
City                409
Country             409
Lat                 409
Lng                 409
Max Temp            409
Humidity            409
Cloudiness          409
Wind Speed          409
City Description    409
dtype: int64

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df = prompt_cities_df[["City", "Country", "Max Temp", "City Description", "Lat", "Lng"]].copy()


hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Coquimbo,CL,62.33,clear sky,-29.9533,-71.3436,
1,Dickinson,US,89.13,clear sky,29.4608,-95.0513,
2,Naze,JP,72.52,overcast clouds,28.3667,129.4833,
5,Cidreira,BR,64.78,scattered clouds,-30.1811,-50.2056,
6,Hithadhoo,MV,81.01,scattered clouds,-0.6000,73.0833,
9,Port Blair,IN,80.64,mist,11.6667,92.7500,
10,Sabang,ID,80.53,overcast clouds,5.8933,95.3214,
11,Viransehir,TR,66.43,clear sky,37.2353,39.7631,
12,Caxito,AO,75.70,broken clouds,-8.5785,13.6643,
13,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,

In [10]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}        


for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    
    hotels = requests.get(base_url, params=params).json()
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,City Description,Lat,Lng,Hotel Name
0,Coquimbo,CL,62.33,clear sky,-29.9533,-71.3436,Hotel San Juan
1,Dickinson,US,89.13,clear sky,29.4608,-95.0513,Hampton Inn & Suites Houston/League City
2,Naze,JP,72.52,overcast clouds,28.3667,129.4833,Shishime Hotel
5,Cidreira,BR,64.78,scattered clouds,-30.1811,-50.2056,Hotel Castelo
6,Hithadhoo,MV,81.01,scattered clouds,-0.6000,73.0833,Scoop Guest House
9,Port Blair,IN,80.64,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
10,Sabang,ID,80.53,overcast clouds,5.8933,95.3214,Hotel Citra
11,Viransehir,TR,66.43,clear sky,37.2353,39.7631,Viranşehir Öğretmenevi
12,Caxito,AO,75.70,broken clouds,-8.5785,13.6643,
13,Avarua,CK,77.05,broken clouds,-21.2078,-159.7750,Paradise Inn

In [11]:
#Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.count()

City                409
Country             409
Max Temp            409
City Description    409
Lat                 409
Lng                 409
Hotel Name          409
dtype: int64

In [13]:
#Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
#Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
#Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{City Description} and {Max Temp} °F</dd>
</dl>
"""

#Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

#Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

In [18]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -29.9533  -71.3436
1   29.4608  -95.0513
2   28.3667  129.4833
5  -30.1811  -50.2056
6   -0.6000   73.0833
9   11.6667   92.7500
10   5.8933   95.3214
11  37.2353   39.7631
12  -8.5785   13.6643
13 -21.2078 -159.7750

In [20]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))